<div class="container mt-4">
  <h1>Books</h1>
  <select class="form-select" aria-label="Default select example">
    <option selected value="all-books">All books</option>
    <option value="News">News</option>
    <option value="best-sellers">Best sellers</option>
  </select>
  <div class="container my-4">
    <div class="row" th:if="${!books.empty}">
      <div class="card col-sm" th:each="book : ${books}">
        <img
          th:src="@{/img/{image}(image=${book.image})}"
          class="card-img-top-gallery"
          alt="attaque des titans"
        />
        <div class="card-body">
          <h5 class="card-title" th:text="${book.name}" />
          <p class="card-text">Price: <span th:text="${book.price}"></span>€</p>
          <p class="card-text">
            Remaining books: *<span th:text="${book.qty}"></span>
          </p>
          <a href="#" class="btn btn-primary">Check the book</a>
        </div>
      </div>
    </div>
    <div
      class="modal fade mb-2"
      id="image-gallery"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span
              ><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <img
              id="image-gallery-image"
              class="img-responsive col-md-12"
              src=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary float-left"
              id="show-previous-image"
            >
              <i class="fa fa-arrow-left"></i>
            </button>

            <button
              type="button"
              id="show-next-image"
              class="btn btn-secondary float-right"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
