<ul class="nav justify-content-end bg-dark" style="padding: 25px">
  <li class="nav-item">
    <a class="nav-link text-secondary" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="./myAccount">My account</a>
  </li>
  <form class="d-flex" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</ul>
