<ul class="nav justify-content-end bg-dark" style="padding: 25px">
  <li class="nav-item">
    <a class="nav-link text-secondary" href="/home">Home</a>
  </li>
  <li class="nav-item" sec:authorize="!isAuthenticated()">
    <a class="nav-link text-secondary" href="/signin">Signin</a>
  </li>
  <li class="nav-item" sec:authorize="!isAuthenticated()">
    <a class="nav-link text-secondary" href="/registration">Signup</a>
  </li>
  <li class="nav-item" sec:authorize="isAuthenticated()">
    <a class="nav-link text-secondary" href="/myAccount">My account</a>
  </li>
  <li class="nav-item" sec:authorize="isAuthenticated()">
    <a class="nav-link text-secondary" href="/logout">Logout</a>
  </li>
</ul>
