<form th:action="@{/myAccount/login}" method="post" th:object="${user}">
  <!-- error message -->
  <div th:if="${param.error}">
    <div class="alert alert-danger">Invalid username or
     password.</div>
   </div>
  
   <!-- logout message -->
   <div th:if="${param.logout}">
    <div class="alert alert-info">You have been logged out.</div>
   </div>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="signin-email" class="form-control" />
    <label class="form-label" for="signin">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="signin-password" class="form-control" />
    <label class="form-label" for="signin">Password</label>
  </div>
  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
</form>
