<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="signup-email" class="form-control" />
    <label class="form-label" for="signup">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="signup-password" class="form-control" />
    <label class="form-label" for="signup">Password</label>
  </div>

  <!-- Reapeat password input -->
  <div class="form-outline mb-4">
    <input type="password" id="signup-confirm-password" class="form-control" />
    <label class="form-label" for="resetPassword">Confirm your password</label>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
</form>
