<div class="container mt-4">
  <ul class="nav nav-tabs" id="tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#tab1" id="signin-link">Signin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tab2" id="signup-link">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tab3" id="password-link">Fogot password</a>
    </li>
  </ul>
  <div class="tab-content mt-4">
    <div class="tab-pane active" id="tab1">
      <div th:replace="fragments/signin.html"></div>
    </div>
    <div class="tab-pane" id="tab2">
      <div th:replace="fragments/signup.html"></div>
    </div>
    <div class="tab-pane" id="tab3">
      <div th:replace="fragments/reset-password.html"></div>
    </div>
  </div>
</div>
